body{ 
    position: relative;
    margin:0;
    background-image: url("/images/back-decor.svg");
    background-repeat: no-repeat;
    background-position: top right;
}    

#container{
    position: relative;
    margin: auto;
    width: 1200px;

}
header{
    
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}
nav{
    display: flex;
    justify-content: space-between;
   
}

.nav-ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 600px;
    

}
.nav-list{
    display: inline;
}
